<!DOCTYPE html>
<html>
  <head>
    <title>Path Examples</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9jcnpL3NTwG3sHftPNj93t71Hzg56MWo">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script rel='text/javascript' src='/javascripts/storeAjax.js'></script>
    <script rel='text/javascript' src='/javascripts/mapMaker.js'></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div>
