<% include ./headpartial.ejs %>
    <h1>Hello World</h1>
    <div id='map-canvas'></div>
    
    <h6>Up Pin</h6>
    <button class = "pinMakerButton" id="shair">Shair</button>
    <button class = "pinGetButton" id="shair">Get</button>
    <h6>Event: </h6>
  <div class="responses" id="responseArea"></div>
<% include ./footpartial.ejs %>