<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="/javascripts/passClient.js"></script>
  </head>
  <body>
  <div>

<a href="/auth/facebook">Login with Facebook</a>

</div>
  </body>
</html>