<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9jcnpL3NTwG3sHftPNj93t71Hzg56MWo"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/mapMaker.js"></script>
	<script type="text/javascript" src="/javascripts/screensize.js"></script>
	<script type="text/javascript" src="/javascripts/storeAjax.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/map.css">
</head>
<body>
	<div id="total-container">
		<nav>
			<img id="logo" src="/img/weblogo.png">
			<img id="menuIcon" src="/img/menu.png">
		</nav>
		<div id="main-container"> 
			<div id="map-canvas"></div>
			<div id="shairButton"><img id="logobutton" src="img/weblogo.png"></div>

			    <button class = "pinMakerButton" id="shair">Shair</button>
    			<button class = "pinGetButton" id="shair">Get</button>
		</div>
	</div>
</body>
</html>