<nav id="menu">
		<ul>
		<li>
			<span>ShairList</span>
				<ul id = "shairList">
					<li class="Label">Click to Delete people From ShairList</li>
				</ul>
		</li>
		<li>
			<span>Facebook Friends</span>
				<ul id = "FBfriend" >
					<li class="Label">Click to Add people to your ShairList</li>
				</ul>
		</li>
		<li>
			<span>Beta Feedback</span>
				<ul id = "betaFormId" >
					<form id="betaForm">
  						<input id="betaFeedback" class="pinInfo" type="text">
  						<input type="submit">
					</form>
  				</ul>
		</li>
	<div = "pofile-info">
		<li id="user-name">DID NOT LOAD</li>
		<img id="profile-pic" src="img/prof.jpg">
	</div>
		</ul>
	</nav>