<nav id="menu">
		<ul>
			<li>
				<span>ShairList</span>
				<ul id = "shairList">
					<li class="Label">Your ShairList</li>
				</ul>
		<li>
			<span>Add to Your ShairList</span>
				<ul id = "FBfriend" >
					<li class="Label">Your Facebook Friends</li>
				</ul>
			</li>
	<div = "pofile-info">
		<li id="user-name">DID NOT LOAD</li>
		<img id="profile-pic" src="img/prof.jpg">
	</div>
		</ul>
	</nav>