<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9jcnpL3NTwG3sHftPNj93t71Hzg56MWo"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="mapMaker.js"></script>
	<script type="text/javascript" src="screensize.js"></script>
	<link rel="stylesheet" type="text/css" href="style/map.css">
</head>
<body>
	<nav>
		<img id="logo" src="img/weblogo.png">
		<img id="menuIcon" src="img/menu.png">
	</nav>
	<div id="container"> 
		
	</div>
</body>
</html>