@font-face {
	font-family: Bauhaus;
	src: url(font.ttf);
}

#user-name{
	font-family: Bauhaus;
	color: white;
	font-size: 40px;
	display: table;
	margin: 0 auto;
}

.mm-menu li.img:after
{
	margin-left: 80px !important;
}
.mm-menu li.img a
{
	font-size: 16px;
}
.mm-menu li.img a img
{
	float: left;
	margin: -5px 10px -5px 0;
	border-radius: 100px;
}
.mm-menu li.img a small
{
	font-size: 12px;
}

html {
	background: url("../img/background.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1{
	font-family: Bauhaus;
	color: white;
	font-size: 40px;
	margin: auto;
}

#profile-pic{
	border-radius: 100px;
	height: 175px;
	width: 175px;
	display: table;
	margin: 0 auto;
}

#map-canvas{
	height: 500px;
}

#menuIcon{
	padding-top: 8px;
	margin-left: 11px;
	height: 25px;
}

#shairButton {
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  background: #0a1624;
  margin-top: 15px;
  border: solid #ffffff 4px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#logo{
	margin-right: 11px;
	height: 35px;
	float: right;
}

nav{
	margin-bottom: 10px;
}

#total-container{
	margin:12px;
}

#logobutton{
	height: 35px;
	display: table;
    margin: 0 auto;
}

#shairButton:hover {
  background: #002147;
  background-image: -webkit-linear-gradient(top, #002147, #0a1624);
  background-image: -moz-linear-gradient(top, #002147, #0a1624);
  background-image: -ms-linear-gradient(top, #002147, #0a1624);
  background-image: -o-linear-gradient(top, #002147, #0a1624);
  background-image: linear-gradient(to bottom, #002147, #0a1624);
}


